@media screen and (min-width: 500px) {
    .header {
        width: 100%;
        position: relative;
        display: flex;

        &__left  {
            width: 50%;
            padding-top: 10px;

            &__logo {
                margin-bottom: 10px;

                &__image {
                    padding-left: 32px;
                    margin-bottom: 3px;
                }
            }
        }
        
        &__right {
            width: 50%;
            text-align: right;
            padding-top: 18px;
            
            &__button {
                margin-top: 6px;
                
                &__sign-up {
                    background: #fc4848;
                    color: #ffffff;
                }

                &__login {
                    background: #ffffff;
                    color: #fc4848;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .header {
        width: 100%;

        &__left  {
            text-align: center;
            padding-top: 10px;

            &__logo {
                margin-bottom: 10px;

                &__image {
                    margin-bottom: 3px;
                }
            }
        }
    }
}

.button {
    font-size: 12px;
    font-family: "sans-serif";
    font-weight: bold;
    margin-right: 32px;
    border-radius: 16px;  
    padding: 6px 12px;
    border: 1px solid #d8cdcd;
    font-size: 12px; 
}