@media screen and (min-width: 500px) {
    .footer {
        background: #fc4848;
        width: 100%;
        padding: 50px 40px;
        color: #FFFFFF;
        position: relative;
        display: flex;
    }

    .logo {
        width: 21%;
        &__phrase {
            padding-top: 30px;
        }
    }

    .footer-component-links {
        width: 25%;
    }

    .links {
        margin-left: 50%;

        &__title {
            font-size: 18px;
        }

        &__topics {
            padding: 0;
            &__topic {
                font-size: 14px;
                margin: 10px 0;
                list-style: none;
            }
        }
    }

    .contact {
        width: 29%;

        &__container {
            margin-left: 40%;
        }
    }
}

@media screen and (max-width: 500px) {
    .footer {
        background: #fc4848;
        width: 100%;
        padding: 50px 40px;
        color: #FFFFFF;
    }

    .logo {
        &__image {
            text-align: center;
        }
        &__phrase {
            padding: 30px 0;
        }
    }

    .footer-component-links {
        text-align: center;
    }

    .links {
        &__title {
            font-size: 18px;
        }

        &__topics {
            padding: 0;
            &__topic {
                font-size: 14px;
                margin: 10px 0;
                list-style: none;
            }
        }
    }

    .contact {
        padding-top: 15px;

        &__container {
            text-align: center;
        }
    }
}