.middle {
    padding: 50px 40px;
}

.benefits {
    position: relative;
    display: flex;
    padding-bottom: 50px;

    &__topics {
        margin-left: 120px;

        &__topic {
            margin: 20px 0;

            &__phrase {
                margin-left: 20px;
                font-size: 20px;
            }
        }
    }
}

.free-trial {
    background-color: #f0f0f0;
    padding: 30px 0;
    text-align: center;

    &__title {
        margin: 30px 0 30px;
        font-size: 50px;
    }

    &__phrase {
        margin: 30px 0 30px;
        font-size: 20px;
    }
}

.purchase {
    padding: 30px 0;
    text-align: center;
    

    &__title {
        margin: 30px 0 30px;
        font-size: 30px;
    }

    &__phrase {
        font-size: 20px;
        padding-bottom: 30px;
    }

    &__product {
        margin-top: 20px 0;

        &__phone-title {
            padding: 20px 0;
            font-size: 20px;
        }

        &__table {
            font-size: 15px;
            width: 700px;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid black;

            &__name {
                text-align: left;
                padding: 20px 30px;
            }

            &__website {

            }

            &__phone {

            }
        }
    }
}

.sign-up-button {
    margin-bottom: 30px;
    font-size: 12px;
    font-family: "sans-serif";
    font-weight: bold;
    margin-right: 32px;
    border-radius: 16px;
    background: #ff4500;
    color: #ffffff;
    padding: 6px 12px;
    border: none;
}

#benefits-topics {
    list-style-type: none;
    margin: 0;
    padding: 0;
}